{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1>Bienvenue sur HOTELY</h1>
            <p>Vous êtes voyageurs? ou vous êtes touristes ? ou vous voulez voir ou vous pouvez vous loger ? Hotely est
                la solution</p>
            <p class="lead">Nous vous proposons de passer des nuits tranquilles dans des superbes appartements et
                surtout selon vos moyens.
                Une bonne nuit de sommeil est un véritable bonheur pour le corps et le moral.</p>
            <p>Nous vous mettons en relations les voyageurs et les propriétaires qui veulent profiter des opportunités
                et gagner de l'argent en proposant
                leur bien à la location...</p>
            <p><a class="btn btn-primary" role="button">Voir les annonces</a></p>
        </div>

        <h2 clas="h1">Les appartements stars</h2>
        <div class="row" style="margin-top:15px; ">
            <div class="col-md-4">
                <div class="card bg-light" style="margin-bottom: 10px;">
                    <div class="card-header text-center">
                        3 chambres, <strong>32500,F CFA / Nuit</strong><br>
                        <small>Pas encore noté</small>
                        <img src="img/room1.jpg" alt="" style="height: 200px;width: 100%; display: block;">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci animi, aut autem
                            beatae consectetur delectus
                            dicta doloremque eveniet fuga fugit nam, porro. Autem, distinctio magnam molestiae
                            perferendis quibusdam tenetur?
                        </p>
                        <a href="#" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>42500,F CFA / Nuit</strong><br>
                        <small>Pas encore noté</small>
                        <img src="img/room1.jpg" alt="" style="height: 200px;width: 100%; display: block;">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci animi, aut autem
                            beatae consectetur delectus
                            dicta doloremque eveniet fuga fugit nam, porro. Autem, distinctio magnam molestiae
                            perferendis quibusdam tenetur?
                        </p>
                        <a href="#" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>30500,F CFA / Nuit</strong><br>
                        <small>Pas encore noté</small>
                        <img src="img/room1.jpg" alt="" style="height: 200px;width: 100%; display: block;">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci animi, aut autem
                            beatae consectetur delectus
                            dicta doloremque eveniet fuga fugit nam, porro. Autem, distinctio magnam molestiae
                            perferendis quibusdam tenetur?
                        </p>
                        <a href="#" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="h1">Les proprietaires stars</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card border-secondary" style="margin-bottom: 10px;">
                    <div class="card-body">
                        <h4 class="card-title">Lord Eliseus</h4>
                        <hr>
                        <div class="card-text">
                            <img src="img/shuuter.png" alt="" style="height: 200px;width: 100%; display: block;">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores earum obcaecati
                                pariatur porro soluta. Animi asperiores
                                at debitis dignissimos, doloremque enim, est explicabo fugiat ipsa laborum nobis odit
                                officiis reprehenderit?</p>
                            <a href="#" class="btn btn-success">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-secondary" style="margin-bottom: 10px;">
                    <div class="card-body">
                        <h4 class="card-title">Lord Eliseus</h4>
                        <hr>
                        <div class="card-text">
                            <img src="img/shuuter.png" alt="" style="height: 200px;width: 100%; display: block;">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores earum obcaecati
                                pariatur porro soluta. Animi asperiores
                                at debitis dignissimos, doloremque enim, est explicabo fugiat ipsa laborum nobis odit
                                officiis reprehenderit?</p>
                            <a href="#" class="btn btn-success">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-secondary" style="margin-bottom: 10px;">
                    <div class="card-body">
                        <h4 class="card-title">Lord Eliseus</h4>
                        <hr>
                        <div class="card-text">
                            <img src="img/shuuter.png" alt="" style="height: 200px;width: 100%; display: block;">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores earum obcaecati
                                pariatur porro soluta. Animi asperiores
                                at debitis dignissimos, doloremque enim, est explicabo fugiat ipsa laborum nobis odit
                                officiis reprehenderit?</p>
                            <a href="#" class="btn btn-success">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
