{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron mt-3">
            <h1>Bienvenue sur HOTELY</h1>
            <p>Vous êtes voyageurs? ou vous êtes touristes ? ou vous voulez voir ou vous pouvez vous loger ? Hotely est
                la solution</p>
            <p class="lead">Nous vous proposons de passer des nuits tranquilles dans des superbes appartements et
                surtout selon vos moyens.
                Une bonne nuit de sommeil est un véritable bonheur pour le corps et le moral.</p>
            <p>Nous vous mettons en relations les voyageurs et les propriétaires qui veulent profiter des opportunités
                et gagner de l'argent en proposant
                leur bien à la location...</p>
            <p><a class="btn btn-primary" role="button">Voir les annonces</a></p>
        </div>

        <h2 clas="h1 my-5">Les appartements stars</h2>
        <div class="row" style="margin-top:15px; ">
            {% for data in ads %}
                {% include 'ad/_ad.html.twig' with {'ad' : data.annonce} %}
            {% endfor %}
        </div>

        <h2 class="h1">Les propriétaires stars</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card border-secondary" style="margin-bottom: 10px;">
                    <div class="card-body">
                        <h4 class="card-title">Lord Eliseus</h4>
                        <hr>
                        <div class="card-text">
                            <img src="img/shuuter.png" alt="" style="height: 200px;width: 100%; display: block;">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores earum obcaecati
                                pariatur porro soluta. Animi asperiores
                                at debitis dignissimos, doloremque enim, est explicabo fugiat ipsa laborum nobis odit
                                officiis reprehenderit?</p>
                            <a href="#" class="btn btn-success">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-secondary" style="margin-bottom: 10px;">
                    <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <hr>
                        <div class="card-text">
                            <img src="img/shuuter.png" alt="" style="height: 200px;width: 100%; display: block;">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores earum obcaecati
                                pariatur porro soluta. Animi asperiores
                                at debitis dignissimos, doloremque enim, est explicabo fugiat ipsa laborum nobis odit
                                officiis reprehenderit?</p>
                            <a href="#" class="btn btn-success">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-secondary" style="margin-bottom: 10px;">
                    <div class="card-body">
                        <h4 class="card-title">Amah Kwatcha</h4>
                        <hr>
                        <div class="card-text">
                            <img src="img/shuuter.png" alt="" style="height: 200px;width: 100%; display: block;">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores earum obcaecati
                                pariatur porro soluta. Animi asperiores
                                at debitis dignissimos, doloremque enim, est explicabo fugiat ipsa laborum nobis odit
                                officiis reprehenderit?</p>
                            <a href="#" class="btn btn-success">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
